@page
@model Proiect.Pages.Buses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bus[0].Departure.DepartureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bus[0].Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bus[0].ArrivalDates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bus[0].DepartureDates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bus[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bus) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Departure.DepartureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
